<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="uzytkownik" value="seleniumtest@interia.pl"/>
    <add key="Url" value="http://poczta.interia.pl/"/>
    <add key="logsFolder" value="c:\TestyUI-Raporty\Pais\Konrad\"/>
    <add key="onlyLogsFolder" value="true"/>
    <add key="restoreDatabase" value="true"/>
    <add key="xmlReportLevel" value="Debug"/>
    <add key="consoleReportLevel" value="Debug"/>
    <add key="backupFolder" value="C:\KWozniak\testyBackup\interiaBackup.bak"/>
    <add key="connetionString" value="Data Source=OKRA-KWOZNIAK;Initial Catalog=interia;Integrated Security=True"/>
    <add key="czyRobicBackup" value="true"/>
    <add key="dbName" value="interia"/>
    <add key="restoreFromSnapshot" value="false"/>
    <add key="logicalFileNameInBackup" value="interia"/>
    <add key="logicalFileNameInBackupLog" value="interia_log"/>
    <add key="serverAdress" value="OKRA-KWOZNIAK"/>
    <add key="fileAdress" value="C:\KWozniak\testyBackup\interiaBackup.bak"/>
  </appSettings>
</configuration>